<h2>{{recipe.title}}</h2>
<h3>Ingredients:</h3>
<p>{{recipe.ingredients}}</p>
<h3>Instructions:</h3>
<p>{{recipe.instructions}}</p>

<hr>

<p class="dates">Created on {{format_date recipe.createdAt}} at {{format_time recipe.createdAt}}</p>
<p class="dates">Last updated on {{format_date recipe.updatedAt}} at {{format_time recipe.updatedAt}}</p>
<button class="btn btn-danger" id="button-edit">Edit</button>
<button class="btn btn-danger" id="delete-recipe-button">Delete</button>





<script src="/js/deleteRecipe.js"></script>

