<h4>Recipe: {{recipe.title}}</h4>
<h5>Ingredients:</h5>
<p>{{recipe.ingredients}}</p>
<h5>Instructions:</h5>
<p>{{recipe.instructions}}</p>

<hr>

<p>Created on {{format_date recipe.createdAt}} at {{format_time recipe.createdAt}}</p>
<p>Last updated on {{format_date recipe.updatedAt}} at {{format_time recipe.updatedAt}}</p>
<button class="btn btn-danger" id="button-edit">Edit</button>
<button class="btn btn-danger" id="delete-recipe-button">Delete</button>





<script src="/js/deleteRecipe.js"></script>

